main > .container {
    padding: 100px 15px 0;
  }


.header {
  flex-wrap:nowrap !important;
}

.login-btn {
  margin-top: 30px;
  font-size: 25px;
  max-width: fit-content;
}

.create-acc-link {
  font-size: 25px;
}

.log-in {
  margin-right: 20px;
  display: flex;
  align-self: center;
  flex-wrap: nowrap;
}

.log-in-btn {
  min-width: 130px;
  min-height: 50px;
  margin-left: 10px;
}

.pass-log-create-col {
  display: flex;
  flex-direction: column;
}

.title-form {
  margin-top: 15px;
  display: flex;
  align-items: baseline;
}

.forms-label {
  font-size: 20px;
  margin-right: 80px;
}

.logging {
  max-width: 50%;
}

.ask-btn {
  font-size: 25px;
  margin-left: 120px;
}

.question {
    display: flex;
    flex-wrap: wrap;
    border: 1px grey solid;
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 200px;
    min-width: 100%;
}

.main-question-text {
  font-size: 20px;
  padding-bottom: 15px;
}

.under-m-question-line {
  width: 100%;
  color:#212429;
}

.form-check {
  display: flex;
  align-items: baseline;
}

.correct-check-label {
  font-size: 25px;
  margin-left: 4px;
}

.answ-btn {
  height: 40px;
  font-size: 20px;
  margin-bottom: 30px;
}

.question-text {
  font-size: 16px;
  flex-shrink: 2;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
  padding-bottom: 10px
}

.q-first-col {
  min-width: 130px;
  align-items: center !important;
}

.q-second-col {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.question-img {
  width: 130px;
}

.question-img-area {
  max-width: 130px;
}

.main-question-img-area {
  min-width: 200px;
  margin-bottom: 39px;
}

.question-tags-answers {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.answ-btn {
  min-width: fit-content;
  display: flex;
}

.q-tags-h {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  max-width: fit-content;
}

.q-tags-h > .bg-success {
  font-size: 15px;
}

.q-tags-h > .bg-warning {
  font-size: 17px;
}

.q-tags-h > .bg-danger {
  font-size: 19px;
}

.q-tags-h > .bg-primary {
  font-size: 13px;
}

.counter {
  pointer-events: none;
  display: flex;
}

.counter-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 40px;
  border-width: 2px;
}

.plus-minus-counter {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  align-items: stretch;
  max-width: fit-content;
  align-self: center;
}

.plus-minus {
  display: flex;
  flex-direction: column;
  max-width: min-content;
}

.up-arrow-btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-width: 2px;
}

.down-arrow-btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-width: 2px;
}

.profile-avatar {
  width: 76px;
  height: 76px;
  border: 2px white solid;
  border-radius: 38px;
}

.avatar-space {
  width: 76px;
  margin-right: 10px;
}

.row-profile-info {
  flex-wrap: nowrap !important;
}

.profile-info {
  display: flex;  
  flex-direction: row;
  height: 80px;
  margin-left: 7px;
  min-height: 80px;
}

.main-row {
  flex-wrap: nowrap;
}

.profile-text-area {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  height: 75px;
  font-size: 16px;
  color: white;
}

.new-q-h {
  margin-bottom: 10px;
}


.pagination {
  margin-top: 50px;
  margin-bottom: 30px;
}

.profile-text {
  font-size: 20px;
}

.link-profile-btn {
  margin-left: 3px;
}

.profile {
  margin-right: 10px;
}

.logo-text {
  font-size: 30px!important;
}

.profile-btns {
  display: flex;
  margin-top: 7px;
  font-size: 13px;
}

.profile-log-out-btn {
  margin-left: 5px;
}

.change-menu {
  max-height: 100px;
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
}

.active-change-btn {
  font-size: 35px;
  display: inline;
}

.main-tag {
  font-size: 25px !important;
}

.inactive-change-btn {
  display: inline;
  font-size: 25px;
  margin-left: 15px;
}

.question-head {
  font-size: 25px;
  padding-left: 10px;
}

.main-question-head {
  font-size: 28px;
}

.main-question {
  padding-top: 25px;
}

.secondary-column {
  margin-left:20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: start;
  flex-shrink: 1;
  width: 100%;
}

.badge {
  display: flex;
  margin-top: 3px;
  margin-left: 3px;
  text-decoration: none;
  flex-shrink: 1;
}

.popular-tags-h {
  font-size: 35px;
}

.bg-success {
  font-size: 17px;
}

.bg-warning {
  font-size: 19px;
}

.bg-danger {
  font-size: 21px;
}

.avatar-upl {
  flex-wrap: nowrap;
}

.avatar-upl-with-img-form {
  display: flex;
  flex-direction: column;
}

.avatar-upl-with-img-form > .card {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  
  margin-bottom: 20px;
}

.avatar-upl-form {
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
}

.avatar-upl-form > .btn {
  margin-left: 10px;
}

.bg-primary {
  font-size: 15px;
}

.best-members-h {
  margin-top: 20px;
  font-size: 33px;
}

.best-members {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin-bottom: 30px;
}

.member {
  margin-top: 5px;
}