{%  load static %}

<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <title>Sticky Footer Navbar Template · Bootstrap v5.0</title>

    <link href="{%  static  "css/bootstrap.min.css"%}" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <link href="{% static "css/my.css"%}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid header">
                <a class="navbar-brand logo-text" href="#">AnimeAsk</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="search">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Type your question here!" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Ask!</button>
                    </form>
                </div>
                <div class="profile-info">
                    <!-- Log in info -->
                    <div class="log-in">
                        <button type="button" class="log-in-btn btn btn-outline-success profile-settings-btn">Log in</button>
                        <button type="button" class="log-in-btn btn btn-outline-success profile-settings-btn">Register</button>
                    </div>

                    <!-- Logged in profile info -->
                    <!--<div class="row row-profile-info">
                        <div class="col-4 avatar-space">
                            <img class="profile-avatar" src="img/avatar2.png" alt="">
                        </div>
                        <div class="col-8 profile-text-area">
                            <div class="profile-text">
                                F4lkr4m
                            </div>
                            <div class="profile-btns">
                                <button type="button" class="btn btn-outline-success profile-settings-btn">Settings</button>
                                <button type="button" class="btn btn-outline-success profile-log-out-btn">Log out</button>
                            </div>
                        </div>
                    </div> -->
                    
                </div>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <div class="row main-row">
                <div class="col-9 main-column">
                    <div class="change-menu">
                        <div class="active-change-btn">
                            New Questions
                        </div>
                        <div class="inactive-change-btn">
                            <a href="" class="">Hot Questions</a>
                        </div>
                    </div>
                    
                    <div class="row question">
                        <div class="q-first-col col-2">
                            <div class="question-img-area">
                                <img class="question-img" src="{% static "img/saske.jpg"%}" alt="">
                            </div>
                            <div class="plus-minus-counter">
                                <div class="counter">
                                    <button type="button" class="counter-btn btn btn-outline-dark shadow-none
                                    btn-sm">
                                        1
                                    </button>
                                </div>
                                <div class="plus-minus">
                                    <button type="button" class="up-arrow-btn btn btn-outline-dark shadow-none
                                    btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                                        </svg>
                                    </button>
                                    <button type="button" class="down-arrow-btn btn btn-outline-dark shadow-none
                                    btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="q-second-col col-10">
                            <div class="question-text-header">
                                <a href="#" class="question-head">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                                <div class="question-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fugiat, magnam nesciunt minus quia recusandae aut laboriosam, ex, eligendi adipisci eos
                                tenetur
                                odit tempore. Eveniet error distinctio maxime maiores. Sit, delectus.
                                </div>
                            </div>
                            <div class="question-tags-answers">
                                <div class="answers">
                                    <button type="button" class="answ-btn btn btn-primary">
                                        answers<span class="badge bg-secondary">4</span>
                                    </button>
                                </div>
                                <div class="q-tags-h">
                                    Tags:
                                    <a href="#" class="badge rounded-pill bg-primary">Shikamaru</a>
                                    <a href="#" class="badge rounded-pill bg-success">Ninja</a>
                                    <a href="#" class="badge rounded-pill bg-warning text-dark">NarutoFriends</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row question">
                        <div class="q-first-col col-2">
                            <div class="question-img-area">
                                <img class="question-img" src="{% static "img/saske.jpg"%}" alt="">
                            </div>
                            <div class="plus-minus-counter">
                                <div class="counter">
                                    <button type="button" class="counter-btn btn btn-outline-dark shadow-none
                                    btn-sm">
                                        1
                                    </button>
                                </div>
                                <div class="plus-minus">
                                    <button type="button" class="up-arrow-btn btn btn-outline-dark shadow-none
                                    btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                                        </svg>
                                    </button>
                                    <button type="button" class="down-arrow-btn btn btn-outline-dark shadow-none
                                    btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="q-second-col col-10">
                            <div class="question-text-header">
                                <a href="#" class="question-head">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                                <div class="question-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fugiat, magnam nesciunt minus quia recusandae aut laboriosam, ex, eligendi adipisci eos
                                tenetur
                                odit tempore. Eveniet error distinctio maxime maiores. Sit, delectus.
                                </div>
                            </div>
                            <div class="question-tags-answers">
                                <div class="answers">
                                    <button type="button" class="answ-btn btn btn-primary">
                                        answers<span class="badge bg-secondary">4</span>
                                    </button>
                                </div>
                                <div class="q-tags-h">
                                    Tags:
                                    <a href="#" class="badge rounded-pill bg-primary">Shikamaru</a>
                                    <a href="#" class="badge rounded-pill bg-success">Ninja</a>
                                    <a href="#" class="badge rounded-pill bg-warning text-dark">NarutoFriends</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row question">
                        <div class="q-first-col col-2">
                            <div class="question-img-area">
                                <img class="question-img" src="{% static "img/saske.jpg"%}" alt="">
                            </div>
                            <div class="plus-minus-counter">
                                <div class="counter">
                                    <button type="button" class="counter-btn btn btn-outline-dark shadow-none
                                    btn-sm">
                                        1
                                    </button>
                                </div>
                                <div class="plus-minus">
                                    <button type="button" class="up-arrow-btn btn btn-outline-dark shadow-none
                                    btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                                        </svg>
                                    </button>
                                    <button type="button" class="down-arrow-btn btn btn-outline-dark shadow-none
                                    btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="q-second-col col-10">
                            <div class="question-text-header">
                                <a href="#" class="question-head">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                                <div class="question-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fugiat, magnam nesciunt minus quia recusandae aut laboriosam, ex, eligendi adipisci eos
                                tenetur
                                odit tempore. Eveniet error distinctio maxime maiores. Sit, delectus.
                                </div>
                            </div>
                            <div class="question-tags-answers">
                                <div class="answers">
                                    <button type="button" class="answ-btn btn btn-primary">
                                        answers<span class="badge bg-secondary">4</span>
                                    </button>
                                </div>
                                <div class="q-tags-h">
                                    Tags:
                                    <a href="#" class="badge rounded-pill bg-primary">Shikamaru</a>
                                    <a href="#" class="badge rounded-pill bg-success">Ninja</a>
                                    <a href="#" class="badge rounded-pill bg-warning text-dark">NarutoFriends</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row question">
                        <div class="q-first-col col-2">
                            <div class="question-img-area">
                                <img class="question-img" src="{% static "img/saske.jpg"%}" alt="">
                            </div>
                            <div class="plus-minus-counter">
                                <div class="counter">
                                    <button type="button" class="counter-btn btn btn-outline-dark shadow-none
                                    btn-sm">
                                        1
                                    </button>
                                </div>
                                <div class="plus-minus">
                                    <button type="button" class="up-arrow-btn btn btn-outline-dark shadow-none
                                    btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                                        </svg>
                                    </button>
                                    <button type="button" class="down-arrow-btn btn btn-outline-dark shadow-none
                                    btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="q-second-col col-10">
                            <div class="question-text-header">
                                <a href="#" class="question-head">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                                <div class="question-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fugiat, magnam nesciunt minus quia recusandae aut laboriosam, ex, eligendi adipisci eos
                                tenetur
                                odit tempore. Eveniet error distinctio maxime maiores. Sit, delectus.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut culpa itaque voluptatum saepe,
                                neque quisquam, cum nam ducimus aspernatur consequuntur architecto tempora, ipsum nemo optio enim sed animi numquam asperiores!
                                odit tempore. Eveniet error distinctio maxime maiores. Sit, delectus.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut culpa itaque voluptatum saepe,
                                neque quisquam, cum nam ducimus aspernatur consequuntur architecto tempora, ipsum nemo optio enim sed animi numquam asperiores!
                                </div>
                            </div>
                            <div class="question-tags-answers">
                                <div class="answers">
                                    <button type="button" class="answ-btn btn btn-primary">
                                        answers<span class="badge bg-secondary">4</span>
                                    </button>
                                </div>
                                <div class="q-tags-h">
                                    Tags:
                                    <a href="#" class="badge rounded-pill bg-primary">Shikamaru</a>
                                    <a href="#" class="badge rounded-pill bg-success">Ninja</a>
                                    <a href="#" class="badge rounded-pill bg-warning text-dark">NarutoFriends</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="...">
                        <ul class="pagination">
                          <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                          </li>
                          <li class="page-item active" aria-current="page">
                            <span class="page-link">1</span>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>
                      </nav>
                </div>
                <div class="col-3 secondary-column">
                    <div class="popular-tags-h">Popular Tags</div>
                    <div class="tags">
                        <a href="#" class="badge rounded-pill bg-primary">Shikamaru</a>
                        <a href="#" class="badge rounded-pill bg-success">Ninja</a>
                        <a href="#" class="badge rounded-pill bg-warning text-dark">NarutoFriends</a>
                        <a href="#" class="badge rounded-pill bg-danger">Geniuses</a>
                        <a href="#" class="badge rounded-pill bg-success">Ninja</a>
                        <a href="#" class="badge rounded-pill bg-primary">Smoking With Akuma</a>
                        <a href="#" class="badge rounded-pill bg-primary">Primary</a>
                        <a href="#" class="badge rounded-pill bg-primary">Primary</a>
                        <a href="#" class="badge rounded-pill bg-primary">Shikamaru</a>
                        <a href="#" class="badge rounded-pill bg-success">Ninja</a>
                        <a href="#" class="badge rounded-pill bg-warning text-dark">NarutoFriends</a>
                        <a href="#" class="badge rounded-pill bg-danger">Geniuses</a>
                        <a href="#" class="badge rounded-pill bg-primary">Smoking With Akuma</a>
                        <a href="#" class="badge rounded-pill bg-primary">Primary</a>
                        <a href="#" class="badge rounded-pill bg-primary">Primary</a>
                        <a href="#" class="badge rounded-pill bg-primary">Shikamaru</a>
                        <a href="#" class="badge rounded-pill bg-success">Ninja</a>
                        <a href="#" class="badge rounded-pill bg-warning text-dark">NarutoFriends</a>
                        <a href="#" class="badge rounded-pill bg-danger">Geniuses</a>
                        <a href="#" class="badge rounded-pill bg-primary">Smoking With Akuma</a>
                        <a href="#" class="badge rounded-pill bg-primary">Primary</a>
                        <a href="#" class="badge rounded-pill bg-primary">Primary</a>
                    </div>
                    <div class="best-members-h">Best Members</div>
                    <div class="best-members">
                        <a href="#" class="member">Choji</a>
                        <a href="#" class="member">Boruto</a>
                        <a href="#" class="member">Madara</a>
                        <a href="#" class="member">Hashirama</a>
                        <a href="#" class="member">Choji</a>
                        <a href="#" class="member">Boruto</a>
                        <a href="#" class="member">Madara</a>
                        <a href="#" class="member">Hashirama</a>
                        <a href="#" class="member">Choji</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Created by F4lkr4m @Copyright</span>
        </div>
    </footer>


    <script src="js/bootstrap.bundle.min.js"></script>


</body>

</html>